body{
  background-image: url("/portfolio-bg.jpg");
}


.navbar-gradient {
  background: linear-gradient(90deg, #6288f1, #3b82f6);
  color: white;
}

.navbar-gradient .nav-link {
  color: white;
}

.navbar-gradient .nav-link:hover,
.navbar-gradient .nav-link.active {
font-weight: bold;
}



.profile-img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  .profile-img {
    width: 200px;
    height: auto;
  }
}

.project-card {
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-weight: 500;
  font-size: 1.1rem;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.project-card:hover .overlay-link {
  opacity: 1;
}
